<a href="https://colab.research.google.com/github/khairulhabibie/py_data_analyst/blob/Exploratory-Data-Analysis-with-Python-for-Beginner/part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import io
import pandas as pd
order_df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/order.csv")

In [3]:
## Melihat struktur kolom dan baris dari data frame
print(order_df.shape)

(49999, 12)

In [4]:
## Melihat preview data dari data frame
# print(order_df.head()) 
# print(order_df.tail())
print(order_df.head(10))

                           order_id  quantity  \
0  2e7a8482f6fb09756ca50c10d7bfc047         2
1  2e7a8482f6fb09756ca50c10d7bfc047         1
2  e5fa5a7210941f7d56d0208e4e071d35         1
3  3b697a20d9e427646d92567910af6d57         1
4  71303d7e93b399f5bcd537d124c0bcfa         1

                         product_id    price  \
0  f293394c72c9b5fafd7023301fc21fc2  1489000
1  c1488892604e4ba5cff5b4eb4d595400  1756000
2  f3c2d01a84c947b078e32bbef0718962  1707000
3  3ae08df6bcbfe23586dd431c40bddbb7  3071000
4  d2998d7ced12f83f9b832f33cf6507b6  3833000

                          seller_id  freight_value  \
0  1554a68530182680ad5c8b042c3ab563          28000
1  1554a68530182680ad5c8b042c3ab563          45000
2  a425f92c199eb576938df686728acd20         174000
3  522620dcb18a6b31cd7bdf73665113a9         154000
4  25e6ffe976bd75618accfe16cefcbd0d         147000

                        customer_id order_status purchase_date  \
0  08c5351a6aca1c1589a38f244edeee9d      shipped    2016-09-05
1  08c5351a6aca1c1589a38f244edeee9d      shipped    2016-09-05
2  683c54fc24d40ee9f8a6fc179fd9856c     canceled    2016-09-05
3  355077684019f7f60a031656bd7262b8    delivered    2016-10-03
4  b106b360fe2ef8849fbbd056f777b4d5     canceled    2016-10-03

      payment_type product_category_name  product_weight_gram
0  virtual account               fashion               1800.0
1  virtual account            automotive               1400.0
2         e-wallet                  toys                700.0
3         e-wallet             utilities                300.0
4         e-wallet               fashion                500.0

In [7]:
## Statistik Deskriptif dari Data Frame - Part 1
# print(order_df.describe(include="all"))
'''
enambahkan argument bernama include = "all" untuk mendapatkan summary statistik atau statistik deskriptif dari kolom numerik dan karakter.
'''
print(order_df.describe())

           quantity         price  freight_value  product_weight_gram
count  49999.000000  4.999900e+04   49999.000000         49980.000000
mean       1.197484  2.607784e+06  104521.390428          2201.830892
std        0.722262  1.388312e+06   55179.844962          3929.896875
min        1.000000  2.000000e+05    9000.000000            50.000000
25%        1.000000  1.410500e+06   57000.000000           300.000000
50%        1.000000  2.610000e+06  104000.000000           800.000000
75%        1.000000  3.810000e+06  152000.000000          1850.000000
max       21.000000  5.000000e+06  200000.000000         40425.000000

In [8]:
## Statistik Deskriptif dari Data Frame - Part 2
'''
Jika ingin mendapatkan summary statistik dari kolom yang tidak bernilai angka, maka aku dapat menambahkan command include=["object"] 
pada syntax describe().
'''
print(order_df.describe(include=["object"]))

                                order_id                        product_id  \
count                              49999                             49999
unique                             42694                             16866
top     8272b63d03f5f79c56e9e4120aec44ef  99a4788cb24856965c36a24e339b6058
freq                                  21                               366

                               seller_id                       customer_id  \
count                              49999                             49999
unique                              1777                             42694
top     4a3ca9315b744ce9f8e9374361493884  fc3d1daec319d62d49bfb5e1f83123e9
freq                                1236                                21

       order_status purchase_date     payment_type product_category_name
count         49999         49999            49999                 49999
unique            7           356                4                     8
top       delivered    2017-11-24  virtual account                  toys
freq          48664          1015            12581                  6375

In [18]:
## Statistik Deskriptif dari Data Frame - Part 3
''' menggunakan syntax mean, median, dan mode dari Pandas. '''
print(order_df.loc[:, "price"].mean())
print(order_df.loc[:, "price"].median())
print(order_df.loc[:, "price"].mode())

2607783.9156783135
2610000.0
0    3174000
1    3627000
dtype: int64

In [19]:
### tugas praktek
import pandas as pd
order_df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/order.csv")
# Quick summary  dari segi kuantitas, harga, freight value, dan weight
print(order_df.describe())
# Median dari total pembelian konsumen per transaksi kolom price
print(order_df.loc[:, "price"].median())

           quantity         price  freight_value  product_weight_gram
count  49999.000000  4.999900e+04   49999.000000         49980.000000
mean       1.197484  2.607784e+06  104521.390428          2201.830892
std        0.722262  1.388312e+06   55179.844962          3929.896875
min        1.000000  2.000000e+05    9000.000000            50.000000
25%        1.000000  1.410500e+06   57000.000000           300.000000
50%        1.000000  2.610000e+06  104000.000000           800.000000
75%        1.000000  3.810000e+06  152000.000000          1850.000000
max       21.000000  5.000000e+06  200000.000000         40425.000000
2610000.0